*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.dislike_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
}

.full_width{
    width: 100%;
}

mat-form-field{
    width: 100%;
}

.dislike_title{
    text-align: center;
    padding-bottom: 20px;
    font-size: 19px;
    font-weight: 500;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    border: 0px solid #dedede;
    border-bottom-width: 1px;
}

.dislike_response{
    font-size: 15px;
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 10px;
    color: #7b7b7b;
    font-style: italic;
    font-weight: 400;
}

.dislike_comment textarea{
    font-size: 15px;
}

.dislike_actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dislike_actions button{
    padding: 20px 30px;
    cursor: pointer;
}

.dislike_cancel{
    background-color: #575757;
    color: #ffffff;
}

.dislike_send{
    background-color: #ff4081;
    color: #ffffff;
}