<div class="container">
  <div class="container-messages">
    <div class="container-message" *ngFor="let message of messages; let i = index">
        <div class="question">
          <p>{{ message.chat_user }}</p>
        </div>
        <div class="container-reponse">
          <div class="reponse">
            <p>{{ message.chat_ia }}</p>
          </div>
          <div class="actions">
            <button class="btn_action" mat-icon-button>
              <mat-icon class="icon_action">content_copy</mat-icon>
            </button>
            <button class="btn_action" mat-icon-button>
              <mat-icon class="icon_action">thumb_up</mat-icon>
            </button>
            <button class="btn_action" mat-icon-button>
              <mat-icon class="icon_action">thumb_down</mat-icon>
            </button>
            <button class="btn_action" mat-icon-button>
              <mat-icon class="icon_action">emoji_objects</mat-icon>
            </button>
            
          </div>
        </div>
    </div>
  </div>
  <form class="form" (ngSubmit)="sendMessage()">
    <mat-form-field class="full-width prompt">
      <input matInput [(ngModel)]="userMessage" placeholder="Veuillez poser votre question :" name="message">
      <button mat-icon-button type="submit" class="send-prompt">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>
