$bg-question : #47465d;
$bg-reponse : #797787;
$bg : #242331;

*{
    box-sizing: border-box;
}


.container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-messages{
    flex: 1;
    padding-top: 40px;
}

.container-message{
    margin: 0 auto;
    width: 90%;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 40px;
}

.question, .reponse{
    position: relative;
    width: 60%;
    padding: 20px 22px;
    border-radius: 30px;
    color: white;
}

.question p, .reponse p{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.reponse{
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2;
}

p{
    margin: 0;
}

.question{
    background-color: $bg-question;
    align-self: flex-end;
}

.reponse{
    background-color: $bg-reponse;
    align-self: flex-start;
}


.form{
    width: 90%;
    margin: 0 auto;
    position: sticky;
    bottom: 0;
    z-index: 2;
    background-color: $bg;
}

.full-width{
    width: 100%;
    border-radius: 10px;
}   

.send-prompt{
    position: absolute;
    right: 0px;
    background-color: transparent;
    border: none;
    color: $bg;
    cursor: pointer;
}

.container-reponse:hover .actions{
    transform: translateY(0px);
}

.actions{
    position: relative;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
    padding-top: 10px;
    padding-left: 3%;
    z-index: 1;
    transform: translateY(0px);
    transition: all 0.3s ease;
}

.btn_action{
    background-color: transparent;
    border: none;
    color: white;
    padding: 3px;
}

.icon_action{
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.greenColor{
    color: #64d964 !important;
}

.redColor{
    color: #d96464 !important;
}

.blueColor{
    color: #6495d9 !important;
}


@media screen and (max-width: 768px){
    .question, .reponse{
        width: 80%;
    }
}