<div class="container">
    <form class="form">
        <div class="top">
            <h1 class="title">Connexion</h1>
        </div>

        <p class="invalid" *ngIf="isInvalid">Le nom d'utilisateur ou le mot de passe est incorrect !</p>

        <mat-form-field class="full-width">
            <mat-label>User</mat-label>
            <input matInput [formControl]="user_control" placeholder="username">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Enter your password</mat-label>
            <input matInput [formControl]="pass_control" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        
        <button mat-flat-button class="btn-login" color="primary" (click)="isRegistering ? register() : getData()">
            {{ isRegistering ? 'S\'inscrire' : 'Se connecter' }}
        </button>

        <p>
            {{ isRegistering ? 'Déjà inscrit ?' : 'Pas encore inscrit ?' }} <a (click)="toggleForm()">{{ isRegistering ? 'Se connecter' : 'S\'inscrire' }}</a>
        </p>
    </form>
</div>