<form class="form">

    <div class="top">
        <button class="btn-close" mat-icon-button aria-label="close dialog" (click)="closeDialog()" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <h1 class="title">Connexion</h1>
    </div>

    <mat-form-field class="full-width">
        <mat-label>User</mat-label>
        <input matInput [(ngModel)]="user_control" placeholder="username" name="user_control">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput [[(ngModel)]="pass_control" name="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <button mat-flat-button class="btn-login" color="primary" (click)="isRegistering ? register() : getData()">
        {{ isRegistering ? 'S\'inscrire' : 'Se connecter' }}
    </button>
    <!--je veux pouvoir m'inscrire nn un truc qui est cacher et mais qui reste dans le form-->
    <p>
        {{ isRegistering ? 'Déjà inscrit ?' : 'Pas encore inscrit ?' }} <a (click)="toggleForm()">{{ isRegistering ? 'Se connecter' : 'S\'inscrire' }}</a>
    </p>
</form>