$bg : #16151e;

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg;
    height: 60px;
    padding: 0 20px;
}

h4{
    margin: 0;
    color: white;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.target_drawer{
    color: white;
    transition: all 0.35s ease;
}

.home{
    color: white;
    font-size: 22px;
}

.target_drawer.rotated {
    transform: rotate(180deg);
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo_robot{
    font-size: 22px;
    font-weight: 400;
    color: white;
}


.boutons{
    display: flex;
    gap: 15px;
}

.tel{
    display: none;
}

.notel{
    display: block;
}


@media screen and (max-width: 768px) {

    .tel{
        display: block;
    }

    .notel{
        display: none;
    }

    nav{
        padding: 0px 5px;
    }

    .logo{
        gap: 5px;
    }

    .logo h4{
        font-size: 15px;
        line-height: normal;
    }

    .logo_robot{
       display: none;
    }

    .boutons{
        gap: 0;
    }

    .logo_out, .logo_sugg{
        font-size: 22px !important;
        color: white;
    }

    .target_drawer{
        font-size: 30px !important;
        width: auto;
        height: auto;
        display: flex;
    }
}