$bg : #16151e;

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg;
    height: 60px;
    padding: 0 20px;
}

h4{
    margin: 0;
    color: white;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo .mat-icon{
    font-size: 22px;
    font-weight: 400;
    color: white;
}

.new_conv{
    margin-left: 20px;
}

.new_conv .mat-icon{
    font-size: 17px;
    color: white;
    width: auto;
    height: auto;
}

.boutons{
    display: flex;
    gap: 15px;
}

