<nav>
    <div class="logo">
        <mat-icon class="logo_robot">smart_toy</mat-icon>
        <h4>UPHF CHATBOT</h4>
    </div>
    <div class="boutons">
        <button mat-flat-button color="primary" class="btn_sugg" *ngIf="isLoggedIn" (click)="navigateToFeedback()">Suggestions</button>
        <button mat-flat-button color="accent" class="btn_logout notel" (click)="logout()">Se déconnecter <mat-icon class="logo_out">logout</mat-icon></button>
        <button mat-icon-button class="btn_logout tel" (click)="logout()"><mat-icon class="logo_out">logout</mat-icon></button>
    </div>
</nav>
