$bg : #242331;
$bg-chats : #1e1d2a;
$chevron : #f5f5f5;

.main-container {
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: $bg;
}

.btn-chats{
  position: absolute;
  top: 20px;
  left: 20px;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  width: 350px;
  background-color: $bg-chats;
}