$bg : #f4f4f4;

.main-container {
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: $bg;
  }
  
  .sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .sidenav {
    width: 350px;
  }