<app-header></app-header>
<mat-drawer-container class="main-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <app-convs></app-convs>
    <button mat-mini-fab class="btn-chats-tel" (click)="toggleDrawer()">
      <mat-icon>{{ isChevronLeft ? 'chevron_left' : 'chevron_right' }}</mat-icon>
    </button>
  </mat-drawer>

  <div class="sidenav-content">
    <button mat-mini-fab class="btn-chats" (click)="toggleDrawer()">
      <mat-icon>{{ isChevronLeft ? 'chevron_left' : 'chevron_right' }}</mat-icon>
    </button>
    <app-newconv *ngIf="showNewConv" class="app-convs"></app-newconv>
    <app-messages *ngIf="!showNewConv" class="app-messages"></app-messages>
    
  </div>
</mat-drawer-container>