body{
    padding: 30px;
    max-height: 90vh; 
    overflow-y: auto;
}


.container_btn_close{
    display: flex;
    justify-content: flex-end;
}

.btn_close{
    background-color: var(--btn);
    color: var(--text-color);
    padding: 10px 20px;
    cursor: pointer;
}